@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400&display=swap');
@import "tailwindcss";

@theme {
  --color-background-neu: var(--background);
  --shadow-neu: var(--shadow-neumorphic);
  --shadow-neu-inner: var(--shadow-neumorphic-inset);
}

:root {
  --background: #F8F9ED;
  --foreground: #265B59;
  --font-nunito-sans: 'Nunito Sans', sans-serif;
  
  /* Neumorphic specific colors for the #F8F9ED background */
  --shadow-color-light: #ffffff;
  --shadow-color-dark: #daddce;

  /* Neumorphic standard shadow formulas */
  --shadow-neumorphic: 8px 8px 16px var(--shadow-color-dark), -8px -8px 16px var(--shadow-color-light);
  --shadow-neumorphic-inset: inset 4px 4px 8px var(--shadow-color-dark), inset -4px -4px 8px var(--shadow-color-light);
  
  color-scheme: light;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F3F6FF;
    --foreground: #14263D;
    
    /* Neumorphic specific colors for the #F3F6FF background */
    --shadow-color-light: #ffffff;
    --shadow-color-dark: #d8e0f5;

    color-scheme: light;
  }
}

html {
  background: var(--background);
  color: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
}

